# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# Node
node_modules/
frontend/dist/
backend/app/static/

# OS / editor
desktop.ini
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local artifacts
*.log
.env
